extends base.pug

block scripts

block style
    style
      include ../static/style.css
      include ../static/styleAbout.css

block content
    section.sec
        div.paras
          p.sectionTag.text-big History of BGMI
          p.sectionSubTag.text-small On 2 September 2020, the Ministry of Electronics and Information Technology, Government of India banned PUBG Mobile. In November 2020, some news came that PUBG Mobile was coming back to India named as PUBG Mobile India.In May 2021, it came to notice that PUBG Mobile was rebranding themselves as Battlegrounds Mobile India to enter in the Indian gaming market. After that on 7 May 2021, Krafton confirmed in a press statement that they were going to launch Battlegrounds Mobile India.
        
        div.thumbnail
            a(href="https://en.wikipedia.org/wiki/Battlegrounds_Mobile_India")
              img(src="/static/img/bgmi.jpg" alt="bgmi image")
  
    section.sec.sec-left
        div.paras
          p.sectionTag.text-big Development Industry Krafton
          p.sectionSubTag.text-small Krafton, formerly known as Bluehole is a South Korean company that develops and distributes video games based in Bundang-gu, Seongnam. Founded by Chang Byung-gyu in Seoul in March 2007. Following the success of PlayerUnknown's Battlegrounds which had led to both investment from Tencent Holdings and expansion and acquisition of studios, Bluehole opted to establish Krafton on 5 November 2018 to serve as a holding company for its video game properties.
                
        div.thumbnail
          a(href="https://en.wikipedia.org/wiki/Krafton")
            img(src="/static/img/logo2.png" alt="krafton image")
  
    section.sec
        div.paras
          p.sectionTag.text-big Careers in Global Esports
          p.sectionSubTag.text-small Esports is one of the fastest growing industries in the world and more and more people are looking toward esports as a career option. Global eSports works with some of the best players and coaches in the world across various titles and with over 100+ years of gaming experience. GE has knowledge, resources and accolades in esports and content. GE organizes community tournaments internationally for gamers along with Hosting online and offline Events.
        
        div.thumbnail
          a(href="https://globalesports.com/")
            img(src="/static/img/globesp.jpg" alt="globesp image")

    section.contactSec
      div.ab
        |BGMI Handles
      div.images
        a(href="https://www.facebook.com/BattlegroundsMobileIN/")
          img(src="/static/img/fb.jpg" alt="fb logo")
        a(href="https://www.instagram.com/battlegroundsmobilein_official/?hl=en")
          img(src="/static/img/insta.jpg" alt="intagram logo")
        a(href="https://twitter.com/search?q=%23battlegroundsmobileindia&lang=en")
          img(src="/static/img/twi.jpg" alt="twitter logo")
        a(href="https://www.youtube.com/c/BattlegroundsMobile_IN")
          img(src="/static/img/youtube.png" alt="you tube logo")