doctype html 
html
    meta(name="viewport" content="width=device-width, initial-scale=1.0;")
    head
      title BGMI
      link(rel="icon" class="icons" href="/static/img/favicon.png" type="image/x-icon")

      block style
    body
      nav.navbar.background.h-nav-resp
        ul.nav-list.v-class-resp
            div.logo
                img(src="/static/img/logo.jpg")
            li
              a(href="/") Home
            li
              a(href="/about") About
            li
              a(href="/services") Services
            li
              a(href="/contact") Contact Us

        div.burger
          div.line
          div.line
          div.line

    block content
    footer#footer 
        | Copyright © 2021 battlegroundsmobileindia.com | All rights reserved

    block scripts
    script 
        include ../static/script.js