extends base.pug

block scripts

block style
    style
      include ../static/style.css
      include ../static/styleServices.css

block content
    div.top
        p.titl
            | BATTLEGROUNDS MOBILE INDIA 
            br
            | PRIVACY POLICY
    div.para
        p.secTag.big 1.Introduction
        p.secSubTag.small KRAFTON, Inc. and/or its affiliates (“KRAFTON”, “we”, “Company” or “us”) keep and process information about you (“you”, “user”, or “player”) and other players who reside in the territory of India. We comply with all applicable laws related to personal information and strive to protect the rights of individual players by adopting this Privacy Policy in accordance with relevant laws and regulations. This Privacy Policy describes how we collect and use personal information about you during and after your relationship with us.
    div.con
        div.para
            p.secTag.big 2.Information we collect
            p.secSubTag.small We collect information about you and the Services that you use. Information may also be required to enter into a contract with you or to perform a contract with you (such as to provide the Service at your request), and failure to provide any information may result in our inability to provide the requested services or products. The information we collect falls into three different categories: 1) information collected directly from you; 2) information collected automatically, and 3) information collected from third parties.
            div.para
                p.secTag.small 1) Information collected directly from you
                p.secSubTag.small You may provide us with the following information when playing our Game and/or using our Services. The information you provide to us may differ in some cases. For example, these may include:
                                br
                                |- Nickname to create a character in-game
                                br
                                |- Nickname, email address, name, phone number, date of birth, etc. to register for tournament(s) or e-sports event(s)
                                br
                                |- Nickname, email address, name, phone numbers, etc. to provide customer service
                                br
                                |- Nickname, email address, name, phone number, gender, age, country of residence, etc. for participation in survey(s), and other events
            div.para
                p.secTag.small 2) Information collected automatically
                p.secSubTag.small We automatically collect certain information when you play our Games and/or use our Services. The type of information that we automatically collect may vary, but generally includes:
                                br
                                |- Device information (including IP address, device ID, device model, network type, OS version, time zone settings, screen resolution, etc.),
                                br
                                |- Data during our Game play,
                                br
                                |- Device event information, including crash reports and system activity details (e.g. whether you encountered an error playing our games or lost Internet access),
                                br
                                |- Your browsing behavior while using our Site and/or Services
            div.para
                p.secTag.small 3) Information collected from third parties
                p.secSubTag.small When you access our Games and/or Services using a third party platform, such as Google, Apple, Game Center, Twitter, or Facebook, we collect certain information from your profile/account on the third party platform’s as permitted by the terms of the third party platform and your privacy settings thereon. For example, these include:
                                br
                                |- Google: Google ID, nickname, profile image, purchase history
                                br
                                |- Apple: Apple ID, profile image, purchase history
                                br
                                |- Game Center: User ID, nickname, profile image
                                br
                                |- Twitter: Twitter ID, nickname, profile image, friends list
                                br
                                |- Facebook: Name, Facebook ID, profile picture, friends list
        div.para
            p.secTag.big 3.How We Use Your Information
            p.secSubTag.small We use the collected information for a variety of purposes, primarily, to provide the Game and the Service (collectively, the “Game Service”) to players like you and to improve the quality of the Game Service. These include:
                            br
                            |- Operating the Game Service,
                            br
                            |- Providing opportunities to participate on the events or surveys relating to the Game Service,
                            br
                            |- Solving technical problems and improving the quality of the Service,
                            br
                            |- Identification of individual players to provide the Game service,
                            br
                            |- Technical protection against usage of unauthorized programs,
                            br
                            |- Preventing inappropriate gameplay that could harm other players,
                            br
                            |- Tracking usage patterns and analyzing trends of players, calculate statistics on service use,
                            br
                            |- Searching player statistics and provision of leaderboard,
                            br
                            |- Operating E-sports events and providing opportunities to participate in tournament(s), and
                            br
                            |- Providing customer service by collecting and responding to inquiries.
    div.bottomctn
        div.contains  
            p.appicon
                img(src="/static/img/bgmilo.jpg")
            p.tit
                |INDIA KA BATTLEGROUNDS
                br
                |IS HERE DOWNLOAD NOW!
            div.offset
                a(href="https://app.adjust.net.in/m9r6x2t" target="_blank")
                    img(src="/static/img/appstore.png")
                a(href="https://bit.ly/BGMI_AppStore" target="_blank")
                    img(src="/static/img/playstore.png")